smeagol.log
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
/resources/public/content/.git
/resources/public/vendor
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.lein-env
.nrepl-port
smeagol.log*
/node_modules/
.DS_Store
.clj-kondo/
.idea/
.calva/
.lsp
.eastwood
smeagol.iml

resources/public/content/uploads/

.eastwood

resources/public/content/Populating a game world.md

*.iml

.portal/vs-code.edn
