smeagol.log
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
/resources/public/content/.git
/resources/public/vendor
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.lein-env
.nrepl-port
smeagol.log*
/node_modules/
.DS_Store
.calva/
.idea/
.lsp/

resources/public/content/uploads/

.eastwood

resources/public/content/Populating a game world.md

*.iml
