;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;
;;;; Smeagol: a very simple Wiki engine.
;;;;
;;;; This program is free software; you can redistribute it and/or
;;;; modify it under the terms of the GNU General Public License
;;;; as published by the Free Software Foundation; either version 2
;;;; of the License, or (at your option) any later version.
;;;;
;;;; This program is distributed in the hope that it will be useful,
;;;; but WITHOUT ANY WARRANTY; without even the implied warranty of
;;;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;;;; GNU General Public License for more details.
;;;;
;;;; You should have received a copy of the GNU General Public License
;;;; along with this program; if not, write to the Free Software
;;;; Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301,
;;;; USA.
;;;;
;;;; Copyright (C) 2017 Simon Brooke
;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;; config.edn: a simple configuration map for Smeagol; inspired by Cryogen.
;;; This is top-level configuration. All values can be overridden with
;;; environment variables.

;;      ;       ;       ;       ;       ;       ;       ;       ;       ;
{
  :content-dir          "resources/public/content"
  :start-page           "Introduction"
                                        ;; where content is served from.
  :default-locale       "en-GB"         ;; default language used for messages
  :formatters           {"vega"         smeagol.formatting/process-vega
                         "vis"          smeagol.formatting/process-vega
                         "mermaid"      smeagol.formatting/process-mermaid
                         "backticks"    smeagol.formatting/process-backticks
                         "test"         smeagol.formatting/process-test}
  :log-level            :info           ;; the minimum logging level; one of
                                        ;; :trace :debug :info :warn :error :fatal
  :passwd               "resources/passwd"
                                        ;; where the password file is stored
  :site-title           "Smeagol"}       ;; overall title of the site, used in
                                        ;; page headings
