{% extends "templates/base.html" %}
{% block content %}
        <div id="content" class="auth">
          <form action="{{servlet-context}}/auth" method="POST">
            <input type="hidden" name="redirect-to" value="{{redirect-to}}"/>
            {% if user %}
            <p class="widget">
              <label for="submit">{{config.save-prompt}}</label>
              <input name="action" id="action" type="submit" class="action-dangerous" value="{{config.logout-label}}"/>
            </p>
            {% else %}
            <p class="widget">
              <label for="username">{{config.your-uname-prompt}}</label>
              <input name="username" id="username" type="text" required/>
            </p>
            <p class="widget">
              <label for="password">{{config.old-pass-prompt}}</label>
              <input name="password" id="password" type="password" required/>
            </p>
            <p class="widget">
              <label for="submit">{{config.login-prompt}}</label>
              <input name="action" id="action" type="submit" class="action" value="{{config.login-label}}"/>
            </p>
            {% endif %}
          </form>
        </div>
{% endblock %}
