<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{{servlet-context}}/content/stylesheet.css" media="screen and (min-device-width: 1025px)" rel="stylesheet" type="text/css" />
    <link href="{{servlet-context}}/css/print.css" media="print" rel="stylesheet" type="text/css" />
    {% block extra-headers %}
    {% endblock %}
  </head>
  <body>

    <div id="header" class="wiki">
        <!-- navbar -->
        <div id="nav">
          {% if user %}
            <p class="user" id="user">You are logged in as {{user}} | <a href="passwd">change password</a></p>
          {% endif %}
          <img id="nav-icon" src="{{servlet-context}}/img/threelines.png" alt="Menu"/>
          <ul id="nav-menu" class="nav">
            <li class="{{wiki-selected}}"><a href="{{servlet-context}}/">Home</a></li>
            <li class="{{auth-selected}}"><a href="{{servlet-context}}/auth">
                {% if user %}
                Log out
                {% else %}
                Log in
                {% endif %}</a></li>
          </ul>
        </div>
        <h1>{{title}}</h1>
        {{header|safe}}
    </div>
    <div id="left-bar"  class="wiki">
        {{left-bar|safe}}
    </div>

    <div id="main-container" class="container">
      {% if message %}
      <div id="message">
        <p class="message">{{message}}</p>
      </div>
      {% endif %}
      {% if error %}
      <div id="error">
        <p class="error">{{error}}</p>
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
    <div id="cookies">
      <div id="more-about-cookies">
        This website stores session information as a 'cookie' on your browser. This helps us show you the content
        you want to see. This cookie does not identify you, and cannot be read by other websites. It is deleted by
        your browser as soon as you leave this site. This website does not use any third party cookies, so your
        visit here cannot be tracked by other websites.
      </div>
      <div id="about-cookies">
        About cookies
      </div>
    </div>
    <div id="footer">
       <div id="credits">
           One Wiki to rule them all ||
           <img height="16" width="16" alt="one wiki to rule them all" src="img/smeagol.png"/>Smeagol wiki engine {{version}} || Built with <a href="http://www.luminusweb.net/">LuminusWeb</a> ||
           <img height="16" width="16" alt="Clojure" src="img/clojure-icon.gif"/> Powered by <a href="http://clojure.org">Clojure</a> ||
           <img height="16" width="16" alt="GitHub" src="img/github-logo-transparent.png"/>Find me/fork me on <a href="https://github.com/simon-brooke/smeagol">Github</a> ||
           <img height="16" width="16" alt="Free Software Foundation" src="img/gnu.small.png"/>Licensed under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License version 2.0</a>
      </div>
    </div>
  </body>
</html>

