<!DOCTYPE html>
<html>
  <head>
    <title>{{config.site-title}}: {{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{servlet-context}}/content/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{servlet-context}}/css/print.css" media="print" rel="stylesheet" type="text/css" />
    {% block extra-headers %}
    {% endblock %}
  </head>
  <body>
    <header class="wiki">
      <!-- navbar -->
      <div id="nav">
        <img id="nav-icon" src="{{servlet-context}}/img/three-lines.png" alt="Menu"/>
        <menu id="nav-menu">
          <li class="{{wiki-selected}}"><a href="{{servlet-context}}/">{{config.home-link}}</a></li>
          {% if admin %}
          <li class="{{edit-users-selected}}"><a href="{{servlet-context}}/edit-users">{{config.edit-users-link}}</a></li>
          {% endif %}
          {% if user %}
          <li class="{{passwd-selected}}"><a href="passwd">{{config.change-pass-link}}</a></li>
          <li class="user" id="user">{{config.logged-in-as}} {{user}}</li>
          <li class="{{auth-selected}}"><a href="{{servlet-context}}/auth">
            {{config.logout-link}}</a></li>
          {% else %}
          <li class="{{auth-selected}}"><a href="{{servlet-context}}/auth">
            {{config.login-link}}</a></li>
          {% endif %}
        </menu>
        <div id="phone-side-bar"  class="wiki">
            {{side-bar|safe}}
          <div id="phone-credits">
            <p>
              <img height="16" width="16" alt="one wiki to rule them all"
                   src="img/smeagol.png"/>One Wiki to rule them all ||
              Smeagol wiki engine {{version}} ||
              <img height="16" width="16"
                   alt="The Web Engineering Factory &amp; Toolworks"
                  src="http://www.weft.scot/images/weft.logo.64.png">
              Developed by <a href="http://www.weft.scot/">WEFT</a>
            </p>
          </div>
        </div>
      </div>
      <h1>{{config.site-title}}: {{title}}</h1>
      {{header|safe}}
      {% if message %}
      <div id="message">
        <p class="message">{{message}}</p>
      </div>
      {% endif %}
      {% if error %}
      <div id="error">
        <p class="error">{{error}}</p>
      </div>
      {% endif %}
    </header>
    <div id="side-bar"  class="wiki">
        {{side-bar|safe}}
    </div>

    <div id="main-container" class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div id="cookies">
      <div id="more-about-cookies">
        {{config.cookies-more}}
      </div>
      <div id="about-cookies">
        {{config.cookies-about}}
      </div>
    </div>
    <footer>
       <div id="credits">
         <div>
           <img height="16" width="16" alt="one wiki to rule them all" src="img/smeagol.png"/>One Wiki to rule them all ||
           Smeagol wiki engine {{version}} ||
           <img height="16" width="16" alt="The Web Engineering Factory &amp; Toolworks" src="http://www.weft.scot/images/weft.logo.64.png"> Developed by <a href="http://www.weft.scot/">WEFT</a>
         </div>
         <div>
           Built with <a href="http://www.luminusweb.net/">LuminusWeb</a> ||
           <img height="16" width="16" alt="Clojure" src="img/clojure-icon.gif"/> Powered by <a href="http://clojure.org">Clojure</a> ||
           <img height="16" width="16" alt="GitHub" src="img/github-logo-transparent.png"/>Find me/fork me on <a href="https://github.com/simon-brooke/smeagol">Github</a> ||
           <img height="16" width="16" alt="Free Software Foundation" src="img/gnu.small.png"/>Licensed under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License version 2.0</a>
         </div>
      </div>
    <footer>
  </body>
</html>

