{% extends "templates/base.html" %}
{% block extra-headers %}
{% style "/vendor/simplemde/dist/simplemde.min.css" %}
{% script "/vendor/simplemde/dist/simplemde.min.js" %}
{% endblock %}

{% block content %}
        <div id="content" class="edit">
            <form action="{{servlet-context}}/edit" method="POST">
                {% csrf-field %}
                <input type="hidden" name="page" value="{{page}}"/>
                <textarea name="src" id="src" rows="25" cols="80">{{content}}</textarea>
                <p class="widget">
                    <label for="summary">{{config.what-changed-prompt}}</label>
                    <input name="summary" id="summary" type="text"
                        value="{%if exists%}{%else%}New file {{title}}{%endif%}" required/>
                </p>
                <p class="widget">
                    <label for="submit">{{config.save-prompt}}</label>
                    <input name="submit" id="submit" type="submit" class="action" value="{{config.save-label}}"/>
                </p>
            </form>
        </div>
        <script>
          var simplemde = new SimpleMDE();
        </script>
{% endblock %}
