{% extends "templates/base.html" %}
{% block content %}
   <div id="content" class="history">
        <table>
            <tr>
                <th>When</th><th>What</th><th>Version</th><th>Changes</th>
            </tr>
            <tr>
            	<td>Now</td><td></td>
            	<td><a href="wiki?content={{page}}">[current]</a></td>
            	<td>[no changes]</td>
            <tr>
            {% for entry in history %}
            <tr>
                <td>
                    {{entry.time}}
                </td>
                <td>
                    {{entry.message}}
                </td>
                <td>
                    <a href="version?page={{page}}&amp;version={{entry.id}}">Show version</a>
                </td>
                <td>
                	<a href="diff?page={{page}}&amp;version={{entry.id}}">What's changed?</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
