{% extends "templates/base.html" %}
{% block content %}
   <div id="content" class="history">
     <table class="music-ruled">
       <tr>
         <th>{{config.when-col-hdr}}</th>
         <th>{{config.what-col-hdr}}</th>
         <th>{{config.vers-col-hdr}}</th>
         <th>{{config.change-col-hdr}}</th>
       </tr>
       {% for entry in history %}
       <tr>
         <td>S
           {{entry.time}}
         </td>
         <td>
           {{entry.message}}
         </td>
         <td>
           <a href="version?page={{page}}&amp;version={{entry.id}}">Show version</a>
         </td>
         <td>
           <a href="changes?page={{page}}&amp;version={{entry.id}}">What's changed since?</a>
         </td>
       </tr>
       {% endfor %}
     </table>
    </div>
{% endblock %}
