{% extends "templates/base.html" %}

{% block extra-headers %}
  {% for script in scripts %}
      <script src="{{script}}"></script>
  {% endfor %}
  {% for style in styles %}
      <link href="{{style}}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
    <div id="content" class="wiki">
      {% if editable %}
    	<ul class="minor-controls">
        <li><a href="{{servlet-context}}/edit?page={{title}}">{% i18n edit-page-link %}</a></li>
    		<li><a href="history?page={{page}}">{% i18n history-link %}</a></li>
    	</ul>
      {% endif %}
      {{content|safe}}
    </div>

    <script>
      //<![CDATA[
      if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", function(event) {
          mermaid.initialize({startOnLoad:true});
        });
      }
      //]]
    </script>
{% endblock %}
