;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;
;;;; Smeagol: a very simple Wiki engine.
;;;;
;;;; This program is free software; you can redistribute it and/or
;;;; modify it under the terms of the GNU General Public License
;;;; as published by the Free Software Foundation; either version 2
;;;; of the License, or (at your option) any later version.
;;;;
;;;; This program is distributed in the hope that it will be useful,
;;;; but WITHOUT ANY WARRANTY; without even the implied warranty of
;;;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;;;; GNU General Public License for more details.
;;;;
;;;; You should have received a copy of the GNU General Public License
;;;; along with this program; if not, write to the Free Software
;;;; Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301,
;;;; USA.
;;;;
;;;; German language translation contributed by and
;;;; Copyright (C) 2017 Soukyan Blackwood <priority.inc@gmail.com>
;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;; en-GB.edn: English-language messages.
;;; This is essentially all the text in the chrome - that which isn't editable
;;; through the wiki itself; and the test in the sanity check report.

;;      ;       ;       ;       ;       ;       ;       ;       ;       ;
{:add-user-label        "Neuen Benutzer zufügen"  ;; label for the add user link on edit users page
 :change-pass-label     "Kennwort ändern!"
                                        ;; text of the change password widget itself on the
                                        ;; change password page
 :change-pass-link      "Kennwort ändern"
                                        ;; text of the change password link on the menu
 :change-pass-prompt    "Um Ihr Kennwort zu ändern"
                                        ;; text of the change password widget prompt on the
                                        ;; change password page
 :change-col-hdr        "Änderungen"    ;; header for the changes column in history
 :chpass-bad-match      "Die von Ihnen vorgeschlagenen Kennwörter stimmen nicht überein"
                                        ;; error text if proposed passwords don't match
 :chpass-fail           "Ihr Kennwort wurde nicht geändert"
                                        ;; error text on fail other htan too short or bad match
 :chpass-success        "Ihr Kennwort wurde geändert"
                                        ;; confirmation text on password change
 :chpass-too-short      "Das von Ihnen vorgeschlagene Kennwort war zu kurz: 8 Zeichen erforderlich"
                                        ;; error text if proposed password is too short
 :chpass-title-prefix   "Kennwort ändern für"
                                        ;; prefix for title of change password page
 :content-dir           "Das Inhaltsverzeichnis"
                                        ;; used in sanity check report
 :content-dir-exists    "Das Inhaltsverzeichnis existiert"
                                        ;; used in sanity check report
 :content-dir-is-dir    "Das Inhaltsverzeichnis ist ein Verzeichnis"
                                        ;; used in sanity check report
 :cookies-about         "Über Cookies"  ;; about cookies text
 :cookies-more          "Es wird von Ihrem Browser gelöscht, sobald Sie diese Seite verlassen. Diese Webseite benutzt keine Cookies von dritten Parteien, daher kann Ihr Besuch hier nicht von anderen Seiten verfolgt werden."
                                        ;; more about cookies text
 :default-page-title    "Einleitung"    ;; title of the default page in this wiki
 :del-col-hdr           "Löschen"        ;; header for delete column on edit users page
 :del-user-fail         "Könnte Benutzer nicht löschen"
                                        ;; error message on failure to delete user
 :del-user-success      "Benutzer wurde erfolgreich gelöscht"
                                        ;; confirmation message on deletion of user
 :diff-title-prefix     "Änderungen seit der Version"
                                        ;; prefix for the header of the changes page
 :does-not-exist        "existiert nicht"
                                        ;; (of a file or directory); used in sanity check report
 :edit-col-hdr          "Bearbeiten"          ;; header for edit column on edit users page
 :edit-page-link        "Diese Seite bearbeiten"
                                        ;; text of the edit page link on the content frame
 :edit-title-prefix     "Bearbeiten"          ;; prefix for title of edit content page
 :edit-users-link       "Benutzer bearbeiten"    ;; text of the edit users link on the menu
 :edit-users-title      "Benutzer zum Bearbeiten auswählen"
                                        ;; title of edit users page
 :email-prompt          "E-Mail Adresse" ;; text of the email widget prompt on edit user page
 :file-or-directory     "Datei oder Verzeichnis"
                                        ;; used in sanity check report
 :file-summary-prompt   "Beschreibung/was wurde gändert"
                                        ;; prompt for the file upload summary input
 :file-upload-link-text "Sie können auf diese Datei verweisen, mit Hilfe von einer Verknüpfung von der Form"
                                        ;; Text introducing the link to an uploaded file
 :file-upload-prompt    "Datei zum Hochladen" ;; prompt string for the file upload widget
 :file-upload-title     "Upload a file" ;; title for the file upload page
 :is-admin-prompt       "Ist Administrator?"
 :here                  "hier"          ;; used in sanity check report
 :home-link             "Startseite"          ;; text of the home link on the menu
 :is-not-directory      "ist kein Verzeichnis"
                                        ;; (of a file or directory) used in sanity check report
 :is-not-readable       "ist nicht lesbar"
                                        ;; (of a file or directory) used in sanity check report
 :is-not-writable       "ist nicht schreibbar"
                                        ;; (of a file or directory) used in sanity check report
 :login-label           "Log in!"       ;; text of the login widget on the login page
 :login-link            "Log in"        ;; text of the login link on the menu
 :login-prompt          "Um dieses Wiki zu bearbeiten"
                                        ;; text of the action widget prompt on the login page
 :logout-label          "Abmelden!"      ;; text of the logout widget on the logout page
 :logout-link           "Abmelden"       ;; text of the logout link on the menu
 :logged-in-as          "Sie sind angemeldet als"
                                        ;; text of the 'logged in as' label on the menu
 :history-link          "Historie"       ;; text of the history link on the content frame
 :history-title-prefix  "Historie von"    ;; prefix of the title on the history page
 :new-pass-prompt       "Neues Kennwort"  ;; text of the new password widget prompt on the change
                                        ;; password and edit user pages
 :no-admin-users        "In der Datei 'passwd' gibt es keine Benutzer mit Administratorrechten"
                                        ;; used in sanity check report
 :old-pass-prompt       "Ihr Kennwort"
                                        ;; text of the old password widget prompt on the change
                                        ;; password page, and password widget on login page
 :password-file         "Die Kennwort ('passwd') Datei"
                                        ;; used in sanity check report
 :problems-found        "Probleme gefunden"
                                        ;; used in sanity check report
 :rpt-pass-prompt       "und noch einmal"     ;; text of the new password widget prompt on the change
                                        ;; password and edit user pages
 :save-prompt           "Wenn Sie mit dem Bearbeiten fertig sind"
                                        ;; text of the save widget label on edit content
                                        ;; and edit user page
 :save-label            "Speichern!"         ;; text of the save widget itself
 :save-user-fail        "Benutzer konnte nicht gespeichert werden"
 :save-user-success     "Benutzer erfolgreich gespeichert"
 :see-documentation     "Für mehr Information sehen Sie bitte die Dokumentation "
                                        ;; used in sanity check report
 :smeagol-not-initialised
                        "Smeagol ist nicht richtig initialisiert"
                                        ;; title of the sanity check report
 :smeagol-misconfiguration
                        "Smeagol konnte einige der Ressourcen, von denen es abhängt,
nicht finden; wahrscheinlich wegen einer Fehlkonfiguration oder fehlenden Umgebungsvariablen."
                                        ;; used in sanity check report
 :user-lacks-field      "Das Feld für den Benutzereintrag in die passwd Datei fehlt"
                                        ;; used in sanity check report
 :username-prompt       "Benutzername"      ;; text of the username widget prompt on edit user page
                                        ;; text of the is admin widget prompt on edit user page
 :user-title-prefix     "Benutzer bearbeiten"     ;; prefix for title of edit user page
 :vers-col-hdr          "Version"       ;; header for the version column in history
 :what-col-hdr          "Wann"          ;; header for the what column in history
 :what-changed-prompt   "Was haben Sie verändert?"
                                        ;; text of the summary widget prompt on edit
                                        ;; content page
 :when-col-hdr          "When"          ;; header for the when column in history
 :your-uname-prompt     "Ihr Benutzername" ;; text of the username widget prompt on the login page
 }
